body{
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.title{
    text-align: center;
    background-color: #ddd;
    border: 5px #ccc solid;
}

#submit{
    margin: 5px 0 0 0;
}

#signOut{
    margin: 5px;
}

.chatBox{
    overflow: auto;
    border: 5px solid #eee;
    background-color: #ccc;
    width: 100%;
    height: 200px;
    margin: 10px 10px 10px 0;
    padding: 5px;
}